body {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    background-color: rgb(32, 31, 38);
    color: white;
}

main {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 0px 30px 30px;
    }

    nav a {
        color: rgb(139, 134, 167);
        transition-duration: 300ms;
    }

    nav a:hover {
        color: rgb(95, 71, 235);
        transition-duration: 300ms;
    }

    a {
        text-decoration: none;
        padding: 5px 0px;
    }

    button {
        font-family: 'DM Sans', sans-serif;
    }
    
    .flashAside {
        padding-left: 30px;
    }

   aside button {
        margin-bottom: 15px;
    }

    .decksTable {
        width: 500px;
    }

    .decksTable tbody{
        
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    .decksTable tr {
        display: flex;
        justify-content: space-between;
    }

    .decksTable td {
        padding: 0px;
        font-size: 20px;
    }

    .decksTable .deckName {
        font-weight: 500;
        background-color: rgb(32, 31, 38);
        font-size: 20px;
        color: white;
        transition-duration: 300ms;
    }

    .decksTable .deckName:hover {
        font-weight: 500;
        background-color: rgb(32, 31, 38);
        font-size: 20px;
        color: rgb(95, 71, 235);
        transition-duration: 300ms;
    }
    

    input[type=submit], input[type=reset], button, .decksTable a{
        font-size: 15px;
        color: white;
        background-color: rgb(49, 48, 57);
        padding: 5px 10px;
        border: none;
        border-radius: 50px;
        transition-duration: 300ms;
    }

    input[type=submit]:hover, input[type=reset]:hover, button:hover, .decksTable a:hover{
        
        background-color: rgb(95, 71, 235);
        transition-duration: 300ms;
    }

    #reviewForm {
        padding: 20px;
        display: flex;
        column-gap: 10px;
    }

    #flashcard {
        display:flex;
        flex-direction: column;
        row-gap: 20px;
    }

    #flashcard p {
        margin: 0px;
    }

    .formDiv {
        display: flex;
        flex-direction: column;
    }

    input[type=text], input[type=password]{
        border-radius: 50px;
        padding: 3px 6px;
        width: 200px;
        color: white;
        background-color: rgb(49, 48, 57);
        border: 1px solid rgb(157, 140, 255);
        font-family: inherit;

    }

    .submitDiv {
        margin: 15px;
    }

    .flashTable tbody{
        overflow: auto; 
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-collapse: collapse;
        row-gap: 20px;
    }

    .flashTable tr {
        border-bottom: 1px solid rgb(66, 64, 78);
        display: flex;
    }

    .flashTable a, label {
        display: block;
        width: 100%;
        color: white;
        transition-duration: 300ms;
        padding: 0 0 5px 10px;
        font-size: 17px;

    }

    .flashTable a:hover, label:hover{
        color: rgb(95, 71, 235);
        transition-duration: 300ms;
    }

    .flashTable td {
        width: 50%;
        border-right: 1px solid rgb(66, 64, 78);
        overflow: hidden;
    }

    #search {
        display: flex;
        width: 600px;
        align-items: center;
        margin-bottom: 50px;
    }

    #search form{
        display: flex;
        height: fit-content;
        flex-grow: 100;
    }

    #search input[type=text] {
        flex-grow: 100;
    }

    textarea {
        background-color: rgb(49, 48, 57);
        border: 1px solid rgb(157, 140, 255);
        font-family: inherit;
        color: white;
        border-radius: 10px;
        padding: 3px 6px;
        resize: none;
    }